{% extends "base.html" %} {% block content %}
<div class="MainAnalyzerPage">
  <section class="Messages">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for i in
    messages %} {{ i }} {% endfor %} {% endif %} {% endwith %}
  </section>
  <section class="Analyzer" >
    <p><a href="instructions">Tell me how it works!</a></p>
    <form action="" method="POST" enctype="multipart/form-data" novalidate>
      {{ form.hidden_tag() }}
      <div class="AnalyzerFieldContainer">
        {{ form.file.label }}<br />
        {{ form.file }}<br />
      </div>
      <div class="AnalyzerFieldContainer">
        {{ form.maxdim }}
        {{ form.maxdim.label }} <br />
        {{ form.coeff }}
        {{ form.coeff.label }}
      </div>
      <div class="AnalyzerFieldContainer">
        {{ form.igLabels }} 
        {{ form.igLabels.label }} <br />

        {{ form.igEnum }} 
        {{ form.igEnum.label }}
      </div>
      <div class="AnalyzerFieldContainer">
        {{ form.delimiter }}
        {{ form.delimiter.label }} <br />

        {{ form.lineterminator }}
        {{ form.lineterminator.label }}
      </div>
      <div class="AnalyzerFieldContainer">
        {{ captcha() }}<br />
        Please type the numbers above in the box below.<br />
        <input type="text" name="captcha" />
      </div>
      <div class="FormSumit">{{ form.submit }}</div>
    </form>
  </section>
</div>
{% endblock %}
