{% extends "base.html" %} {% block content %}
<div class="MainAnalyzerPage">
  <section class="Messages">
    {% with messages = get_flashed_messages() %} {% if messages %} {% for i in
    messages %} {{ i }} {% endfor %} {% endif %} {% endwith %}
  </section>
  <section class="Analyzer" >
    <p><a href="instructions">Tell me how it works!</a></p>
    <form action="" target="_blank" method="POST" enctype="multipart/form-data" novalidate>
      {{ form.hidden_tag() }}
      <div class="AnalyzerFieldContainer">
        {{ form.file.label }}<br />
        {{ form.file }}
      </div>
      <div class="AnalyzerFieldContainer">
        <div class="AnalyzerFieldRow">
          {{ form.maxdim }}
          {{ form.maxdim.label }}
        </div> 
        <br />
        <div class="AnalyzerFieldRow">
          {{ form.coeff }}
          {{ form.coeff.label }}
        </div>
      </div>
      <div class="AnalyzerFieldContainer">
        <div class="AnalyzerFieldRow">
          {{ form.igLabels }} 
          {{ form.igLabels.label }} 
        </div>
        <br />
        <div class="AnalyzerFieldRow">
          {{ form.igEnum }} 
          {{ form.igEnum.label }}
        </div>
      </div>
      <div class="AnalyzerFieldContainer">
        <div class="AnalyzerDropdownFieldRow">
          {{ form.delimiter }}
          {{ form.delimiter.label }} 
        </div>
        <br/>
        <div class="AnalyzerDropdownFieldRow">
          {{ form.lineterminator }}
          {{ form.lineterminator.label }}
        </div>
      </div>
      <div class="AnalyzerFieldContainer">
        {{ captcha() }}<br />
        Please type the numbers above in the box below.<br />
        <input type="text" name="captcha" aria-label="Recaptcha input"/>
      </div>
      <div class="FormSumit">{{ form.submit }}</div>
    </form>
  </section>
</div>
{% endblock %}
