<!DOCTYPE html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ 'TDA Online' }} - {{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <header class="header">
      <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="barN bar1"></div>
        <div class="barN bar2"></div>
        <div class="barN bar3"></div>
        <ul class="mobile-menu">
          <li><a href="analyzer">Try it</a> </li>
          <li><a href="instructions">(how it works)</a> </li>
        </ul>
      </div>
      <div id="Brand">
        <div id="BrandLogo" title="TDA Online">
          <a href="/" target="_self">
            <img src="/static/img/tda_online_logo.png"
              alt="logo" style="width: 106px; height: 80px; object-fit: contain; object-position: center center;"/>
          </a>
        </div>
        <div id="BrandText">
          <p><a href="/" target="_self">TDA Online</a></p>
        </div>
      </div>
      <nav class="main-nav">
        <ul class="nav-items">
          <li class="nav-item"><a href="analyzer">Try it</a> </li>
          <li class="nav-item"><a href="instructions">(how it works)</a> </li>
        </ul>
      </nav>
    </header>
    <main>
      <div class="MainContent">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for i in messages %}
            {{ i }}
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}
        {% endblock %}

      </div>
    </main>
    <footer class="FooterContainer" id="footer" role="contentinfo">
      <div class="FooterInner">
        <div class="FooterNavWrapper">
          <nav>
            <div class="FooterBackToTopContainer">
              <a class="FooterBackToTopLink" href="#">{{ 'Back To Top' }}</a>
            </div>
          </nav>
        </div>
        <div class="SqsLayout" id="footerBlocks">
          <div class="SqsRow">
            <div class="SqsCol">
              <div class="SqsBlock">
                <div class="SqsBlockContent">
                  <div class="SqsBlockLegalLinks">
                    <a class="FooterRouterLink" href="/">
                      © 2022 {{ 'TDA Online. All Rights Reserved' }}
                    </a>
                    |<a class="FooterRouterLink" href="privacy_policy">{{ 'Privacy Policy' }}</a>|
                    <a class="FooterRouterLink" href="terms_of_service">{{ 'Terms of Service' }}</a>
                  </div>
                  <br />
                  <br />
                  <div class="SqsBlockLegalLinks">
                    Source code available at the <a class="FooterRouterLink" href="https://github.com/Combinatronix-Labs/tdaonline">Combinatronix Labs GitHub</a>.
                  </div>
                  <br />
                  <br />
                  <div class="SqsBlockSocial" stlye="padding: 0.5rem 0px;">
                    <a class="FooterExternalLink"
                      href="https://www.combinatronixlabs.org/"
                      target="_blank"
                      rel="noreferrer"
                      style="display: flex; justify-content: center; flex-direction: row; color: #1f3c88; font-weight: 700"
                    >
                      <span>{{ 'Powered By' }}</span>
                      <img
                        src="/static/img/Combinatronix-Labs-Logo.png"
                        height="28/"
                        alt={''}
                      />
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>
    <script async src="https://unpkg.com/es-module-shims@1.4.2/dist/es-module-shims.js"></script>
    <script type="importmap">
      {
        "imports": {
          "three": "https://unpkg.com/three/build/three.module.js"
        }
      }
    </script>
    <script type="module">

      import * as THREE from 'three';

      const scene = new THREE.Scene();
      const element = document.getElementById("ShowcaseAnimation");
      const elementWidth = 600;
      const elementHeight = 600;
      const camera = new THREE.PerspectiveCamera( 75, elementWidth / elementHeight, 0.1, 1000 );

      const renderer = new THREE.WebGLRenderer();
      renderer.setSize( elementWidth, elementHeight );
      element.appendChild( renderer.domElement );

      const geometry = new THREE.BoxGeometry( 1, 1, 1 );
      const material = new THREE.MeshBasicMaterial( { color: 0x00ff00 } );
      const cube = new THREE.Mesh( geometry, material );
      scene.add( cube );

			camera.position.z = 5;

			function animate() {
				requestAnimationFrame( animate );

				cube.rotation.x += 0.01;
				cube.rotation.y += 0.01;

				renderer.render( scene, camera );
			};

			animate();
    </script>
  </body>
</html>
