:root {
  --header-background-color: darkolivegreen;
  --scrollbar-handle-color: var(--header-background-color);
  --scrollbar-handle-hover-color: var(--header-background-color);
  --button-background-color: var(--header-background-color);
  --main-background-color: gainsboro;
  --img-border-color: var(--header-background-color);
  --table-header-bg-color: var(--header-background-color);
  --footer-background-color: #0f0f0f;
  --link_text_color_light: white;
  --image-max-width: 256px;
  --brand-font-size: 24px;
  --showcase-font-size: 1rem;
  --footer-font-size: 12px;
  --analyzer-font-size: calc(var(--footer-font-size)*1.3);
  --go-to-top-button-radius: 50px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: white;
  background: var(--main-background-color);
  display: grid;
  grid-template-rows: min-content auto min-content;
}

header{
  grid-row: 1/2;
}

main {
  grid-row: 2/3;
}

footer {
  grid-row: 3/4;
}

h2 {
  font-size: calc(var(--showcase-font-size)*2);
}

h3 {
  font-size: var(--showcase-font-size);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.active {
  display: none;
}

figure {
  justify-content: center;
  display: flex;
}

header nav {
  display: none;
}

/* width */
::-webkit-scrollbar {
  /* margin-top: 100px; */
  /* width: 10px; */
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  -webkit-box-shadow: inset 0 0 6px rgb(4, 4, 4);
  -webkit-border-radius: 10px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-handle-color);
  background: rgba(13, 9, 9, 0.8);
  border-radius: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-handle-hover-color);
}

/* Header */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 1rem;
  background-color: var(--header-background-color);
  text-decoration: none;
  overflow: hidden;
  z-index: 1000;
}

/* Header: Hamburger */
#hamburger-icon {
  display: block;
  margin: auto 0;
  cursor: pointer;
}
#hamburger-icon .barN {
  width: 60px;
  height: 5px;
  background-color: white;
  margin: 12px 0;
  transition: 0.4s;
}
.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-12px, 12px);
  transform: rotate(-45deg) translate(-12px, 12px);
}
.open .bar2 {
  opacity: 0;
}
.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-12px, -12px);
  transform: rotate(45deg) translate(-12px, -12px);
}

/* Header: Mobile Menu */
.mobile-menu {
  /* position: absolute; */
  top: 96px;
  left: 0;
  display: none;
  width: 100%;
  height: calc(30vh - 96px);
  background-color: var(--header-background-color);
  list-style-type: none;
  text-decoration: none;
}
.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mobile-menu li {
  float: left;
  padding: 5px;
  margin-bottom: 10px;
}
.mobile-menu li a {
  padding: 8px;
  text-decoration: none;
  color: white;
}
.mobile-menu li .dropdown {
  float: right;
  overflow: hidden;
  z-index: 1001;
}
.mobile-menu li .dropdown .dropbtn {
  font-size: calc(var(--brand-font-size)*0.6);
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.mobile-menu li .dropdown .dropdown-content {
  position: absolute;
  right: 0;
  background-color: #2c2b2b;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.mobile-menu li .dropdown .dropdown-content a {
  padding: 8px;
  text-decoration: none;
}
#login,
#signup {
  border-radius: 5px;
  padding: 5px 8px;
}
#login {
  border: 1px solid #498afb;
}
#signup {
  border: 1px solid #ff3860;
}
#signup a {
  color: #ff3860;
}
#login a {
  color: #498afb;
}

/* Header: Brand */
#Brand {
  font-weight: bold;
  font-size: var(--brand-font-size);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
#Brand a {
  padding: 0;
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
#Brand #BrandLogo a img {
  height: 70px; 
  object-fit: contain; 
  object-position: center center;
}
#BrandText {
  display: none;
  text-decoration: none;
  color: white;
}
#BrandText p {
  text-decoration: none;
  line-height: 1.41em;
  font-size: calc(var(--brand-font-size) * 0.8);
}

/* Header: Navbar */
.nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style-type: none;
}
.nav-items li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
/* .nav-item {
  float: left;
  padding: 5px;
  margin-left: 10px;
} */
.nav-item a {
  float: left;
  font-size: calc(var(--brand-font-size) * 0.6);
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Header: Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
  z-index: 1001;
}
.dropdown .dropbtn {
  font-size: calc(var(--brand-font-size) * 0.6);
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
nav a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(177, 179, 177, 0.425);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Main Content */
.MainContent {
  width: 100%;
  padding: 2vh 0 0 0;
  /* height: 100%; */
}
.MainContent img {
  border-radius: 4px;
}

/* Top Gap */
.TopGap{
  height: 12vh;
}

/* "Go to top" Button */
.GoToTopButton{
  position: fixed;
  bottom: calc(-1*var(--go-to-top-button-radius));
  right: 5vw;
  border-radius: 100%;
  border-style: solid;
  height: var(--go-to-top-button-radius);
  width: var(--go-to-top-button-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--footer-background-color);
  text-decoration: inherit;
  color: inherit;
  transition: bottom 0.3s;
  z-index: 99999;
}

/* Main Content: Welcome Page */
.MainWelcomePage {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0px 1rem;
  color: black;
  overflow-x: hidden;
}
.MainWelcomePage .Background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.MainWelcomePage #Showcase {
  /* margin: 2rem 0; */
  font-family: "Catamaran", sans-serif;
  line-height: 1.6;
  font-size: var(--showcase-font-size);
}
.MainWelcomePage #Showcase .Container {
  display: grid;
  grid-template-rows: min-content min-content min-content;
  grid-row-gap: 1rem;
  align-items: center;
  justify-content: center;
}
.MainWelcomePage #Showcase .Container #ShowcaseAnimation {
  grid-row: 1 / 2;
}
.MainWelcomePage #Showcase .Container #ShowcaseCTA {
  grid-row: 2 / 3;
}
.MainWelcomePage #Showcase h1 {
  font-size: calc(var(--showcase-font-size)*3);
  color: var(--primary-color);
  text-align: center;
}
.MainWelcomePage #Showcase p {
  margin: 1rem 0;
}
.MainWelcomePage #Showcase img {
  width: 100%;
  height: 30vh;
  max-width: var(--image-max-width);
}
.MainWelcomePage .Counters .column {
  display: block;
  float: left;
  width: 100%;
  padding: 0 5px;
  margin-bottom: 10px;
}
.MainWelcomePage .Counters .row {
  margin: 0 -5px;
}
.MainWelcomePage .Counters .row:after {
  content: "";
  display: table;
  clear: both;
}
.MainWelcomePage .Counters .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #444;
  color: white;
}
.MainWelcomePage .Counters .fa {
  font-size: calc(var(--showcase-font-size)*2);
}

/* Main Content: Instructions Page */
.MainInstructionsPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.5rem;
  margin: 1rem 0px;
  color: black;
}
.MainInstructionsPage p {
  font-size: var(--showcase-font-size);
}
.MainInstructionsPage section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0px;
  font-size: var(--showcase-font-size);
}
.MainInstructionsPage h2 {
  color: black;
  font-weight: 600;
  margin: 2rem 0px;
}
.MainInstructionsPage section h3 {
  color: black;
  font-weight: 600;
  margin: 0.5rem 0px;
}
.MainInstructionsPage .ImageRow {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 16px 0px;
  margin: 0.5rem 0px;
}
.MainInstructionsPage .ImageRow img {
  max-width: var(--image-max-width);
  margin-top: 16px;
}
.MainInstructionsPage .ImageRow p {
  margin: auto 3rem;
}

/* Main Content: Analyzer Page */
.MainAnalyzerPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.5rem;
  margin: 1rem 0px;
  color: black;
}
.MainAnalyzerPage section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem 0px;
  padding: 0px 0.5rem;
}
.Analyzer{
  font-size: var(--analyzer-font-size);
}
.Analyzer form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.AnalyzerFieldContainer {
  margin: 1rem 0;
}
.AnalyzerFieldContainer input[type=checkbox] {
  min-width: 25px;
  min-height: 25px;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.AnalyzerFieldContainer input[type=checkbox]:checked {
  accent-color: var(--button-background-color);
}
.AnalyzerFieldContainer input[type=text]{
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  padding: 16px;
}
.AnalyzerFieldContainer input[type=file]{
  margin-top: 10px;
}
.AnalyzerFieldContainer select,
.AnalyzerFieldContainer input[type=file]::file-selector-button {
  background-color: var(--button-background-color);
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: var(--analyzer-font-size);
}
.AnalyzerFieldRow{
  display: flex;
  align-items: center;
  gap: 8px;
}
.AnalyzerDropdownFieldRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-style: solid;
  padding: 5px;
  border-color: var(--header-background-color);
}
.FormSumit input {
  background-color: var(--button-background-color);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
/* Main Content: Results Page */
.MainResultsPage {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px 1.5rem;
  margin: 1rem 0px;
  color: black;
}
.MainResultsPage section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.MainResultsPage .ResultsGraphs {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.ResultsGraphs .PersistanceGraph,
.ResultsGraphs .BarcodeGraph {
  flex: 0 0 auto;
}
.BettiAndEulerTableContainer, 
.StatisticsTableContainer,
.Ratios,
.RawData {
  overflow-x: auto;
}
.ResultsGraphs .PersistanceGraph img,
.ResultsGraphs .BarcodeGraph img{
  max-width: var(--image-max-width);
}
#RawDataTable,
#RatiosTable,
#StatisticsTable,
#BettiAndEulerTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#CollapseRawDataTable,
#CollapseRatiosTable,
#CollapseStatisticsTable,
#CollapseBettiAndEulerTable {
  border: none;
  background: transparent;
  color: white;
  font-weight: bold;
}
#RawDataTable tr,
#RatiosTable tr,
#StatisticsTable tr,
#BettiAndEulerTable tr {
  width: 100%;
  padding: 0.5 0px;
  margin: 0px 1.5px;
}
#RawDataTable td,
#RawDataTable th,
#RatiosTable td,
#RatiosTable th,
#StatisticsTable td,
#StatisticsTable th,
#BettiAndEulerTable td,
#BettiAndEulerTable th {
  border: 1px solid #ddd;
  padding: 8px;
}
#RawDataTable tr:nth-child(even),
#RatiosTable tr:nth-child(even),
#StatisticsTable tr:nth-child(even),
#BettiAndEulerTable tr:nth-child(even) {
  background-color: #f2f2f2;
}
#RawDataTable tr:hover,
#RatiosTable tr:hover,
#StatisticsTable tr:hover,
#BettiAndEulerTable tr:hover {
  background-color: #ddd;
}
#RawDataTable th,
#RatiosTable th,
#StatisticsTable th,
#BettiAndEulerTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--table-header-bg-color);
  color: white;
}

.DailyLog {
  overflow-x: scroll;
}
.CompletLog {
  overflow-x: scroll;
}

.SqsLayout {
  text-align: center;
}

.NewLogEntry {
  height: auto !important;
}

.NewLogEntryForm .FormRow {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Main Content: Privacy */
.PrivacyRoot{
  display: grid;
  grid-template-columns: 10vw auto 10vw;
}
.PrivacyColumnPaddingLeft{
  grid-column: 1/2;
}
.PrivacyMainCotent{
  grid-column: 2/3;
}
.PrivacyColumnPaddingRight{
  grid-column: 3/4;
}

/* Main Content: Terms */
.TermsRoot{
  display: grid;
  grid-template-columns: 10vw auto 10vw;
}
.TermsColumnPaddingLeft{
  grid-column: 1/2;
}
.TermsMainCotent{
  grid-column: 2/3;
}
.TermsColumnPaddingRight{
  grid-column: 3/4;
}

/* Footer */
.FooterContainer {
  display: flex;
  color: rgba(255, 255, 255, 0.8);
  background-color: var(--footer-background-color);
}
.FooterInner {
  margin: auto;
  width: auto;
  max-width: 1080px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.FooterNavWrapper {
  display: block;
  position: relative;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: var(--footer-font-size);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.FooterBackToTopContainer {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 0 0 1em 0;
}
.FooterBackToTopLink {
  display: block;
  padding: 0.75em 1em;
  text-decoration: none;
  border-bottom-width: 0;
  line-height: 1.25em;
  color: rgba(255, 255, 255, 0.4);
  transition: color 0.1s 0s ease-in-out;
  outline: none;
}
.SqsRow {
  margin-left: -17px;
  margin-right: -17px;
  width: auto !important;
}
.SqsCol {
  float: none;
  width: auto;
  padding-left: 17px;
  padding-right: 17px;
}
.SqsBlock {
  position: relative;
  height: auto;
}
.SqsBlockContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  flex-wrap: wrap;
}
.SqsBlockSocial {
  /* z-index: 400; */
  padding: 0.5rem 0px;
}
.SqsBlockSocial a {
  color: #fff;
  text-decoration: none;
  /* background: transparent; */
  padding: 0px 0.5rem;
}
.SqsBlockSocial i {
  color: #fff;
  width: 48px;
  max-width: 100%;
  border: 0;
}
.FooterExternalLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--text-color);
}
.FooterExternalLink span {
  margin-bottom: 0.05rem;
  font-size: calc(var(--footer-font-size)*1.3);
  margin-right: 0.5rem;
  color: rgb(145, 143, 143);
}
.SqsBlockLegalLinks {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  flex-wrap: wrap;
  font-size: var(--footer-font-size);
}
.FooterRouterLink {
  flex: 0 0 auto;
  margin: 0;
  padding: 0 0.75rem;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: var(--text-color);
  text-decoration: none;
  font-size: calc(var(--footer-font-size)*1.2);
  font-weight: 700;
}

/* Error Page Styling */
.ErrorMainContent{
  text-align: center;
}

.ErrorMainContent h1{
  font-size: calc(var(--showcase-font-size)*3);
  color: black;
}

.ErrorMainContent h2{
  margin-top: 1vh;
  font-size: calc(var(--showcase-font-size)*2);
  color: black;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  :root{
    --image-max-width: 384px;
  }
  .MainWelcomePage #Showcase img {
    height: auto;
  }
  main {
    margin-bottom: 8px;
  }
  #BrandLogo{
    margin-right: 8px;
  }
  #BrandText {
    display: initial;
  }
  .MainWelcomePage .Counters .column {
    width: 25%;
    display: initial;
    margin-bottom: initial;
  }
  .AnalyzerDropdownFieldRow{
    flex-direction: row;
    border-style: none;
  }
  .DailyLog {
    overflow-x: initial;
  }
  .CompletLog {
    overflow-x: initial;
  }
}

@media only screen and (min-width: 768px) {
  header nav {
    display: initial;
  }

  #hamburger-icon {
    display: none;
  }

  .NewLogEntryForm .FormRow {
    justify-content: flex-start;
  }

  .FooterInner {
    text-align: initial;
  }

  .FooterNavWrapper {
    display: none;
  }

  .FooterBackToTopContainer {
    text-align: center;
    margin: 0;
  }

  .SqsLayout {
    text-align: initial;
  }

  .SqsCol {
    float: left !important;
    width: 100% !important;
  }
}

@media only screen and (min-width: 1024px) {
  :root {
    --image-max-width: 512px;
  }
  figure{
    display: initial;
  }
  .TopGap{
    height: 8vh;
  }
  .MainWelcomePage{
    max-width: 1200px;
    margin: auto;
  }
  #Showcase .Container{
    grid-template-columns: 1fr 1fr;
    padding: 0 8px 0 8px;
  }
  #ShowcaseCTA{
    grid-column: 1/2;
    grid-row: 1/2 !important;
    margin: 32px;
  }
  #ShowcaseAnimation{
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .MainInstructionsPage{
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .NewLogEntry {
    height: initial !important;
  }
  .NewLogEntryForm .FormRow {
    display: initial;
    flex-direction: row;
    justify-content: flex-start;
  }
}

@media only screen and (min-width: 1500px) {
  :root {
    --image-max-width: 1000px;
    --brand-font-size: 64px;
    --showcase-font-size: 2rem;
    --footer-font-size: 24px;
  }
  .TopGap{
    height: 5vh;
  }
  .MainWelcomePage{
    max-width: 2000px;
  }
  .FooterInner{
    max-width: 1500px;
  }
}

@media only screen and (min-width: 1500px) {
  #Brand #BrandLogo a img {
    height: 128px; 
  }
  #BrandLogo{
    margin-right: 32px;
  }
  .FormSumit input{
    padding: 24px 40px;
  }
  .AnalyzerFieldContainer select, .AnalyzerFieldContainer input[type=file]::file-selector-button{
    padding: 16px 24px;
  }
  .AnalyzerFieldContainer input[type=checkbox]{
    min-width: 32px;
    min-height: 32px;
  }
}